* {
    padding: 0;
    margin: 0;

    /* Resetting so I can style myself for each element */
}

:root {
    --background-color: 256, 256, 256;

    /* Will add more variables as i develop */
}

html {
    font-family: Cormorant, Arial, Helvetica, sans-serif ;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    /* Prevent horizontal scrolling which isn't desired */

    background-color: rgb(206, 216, 179);
}

section{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}